%h1 Health Challenge
%ul.nav.nav-tabs
  - @week.each do |day|
    %li{:role => "presentation", class: (day[:selected] ? 'active' : '')}
      = link_to day[:name], entries_path(date: day[:date])
%br
= render 'form'
%br
%table
  %tbody
    - @entries.each do |entry|
      %tr
        %td.food= link_to entry.food, entry
        %td.calories= entry.calories
