%h1 Entry

%table
  %tr
    %td.title Food
    %td.title.right kcal

  %tr
    %td= @entry.food
    %td.right= @entry.calories

%br/

= link_to 'Destroy', @entry, method: :delete, data: { confirm: 'Are you sure?' }

%br/
%br/

= link_to "Back", entries_path