@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "elements/*";
/* HTML Classes */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

td {
  font-size: 20px;
}

hr {
    border-top: 2px solid grey;
}

table.entries {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  td.food {
    text-align: left;
    width: 60%;
    padding-right: 13px;
    color: #29a385;
    input {
      height: 40px;
    }
  }

  td.calories {
    text-align: right;
    width: 30%;
    input {
      height: 40px;
      text-align: right;
      float: right;
      color: white;
    }
  }

  td.total {
    font-style: bolt;
    color: grey;
    text-align: left;
  }

  .space {
    padding-top: 15px;
  }

  td.submit {
    text-align: right;
  }

  .trash {
    text-align: right;
  }

  input {
    background-color: grey;
    color: white;
  }

  ::-webkit-input-placeholder { color: white; }

  ::-moz-placeholder { color: white; }

  :-ms-input-placeholder { color: green; }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px grey inset;
  }

  .light-green-button {
    background-color: #00e68a;
    color: white;
    height: 40px;
  }
}

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

div.navbar {
  background-color: #00e68a;
  margin: auto;
  padding: 0px;
}

h1 {
  text-align: center;
}

.nav-tabs, .nav-pills {
  text-align: center;
}

.grey {
  color: grey;
}

.container {
  width: 60%;
  background-color: #29a385;
  padding: 50px;
}

.container-white {
  margin-top: 40px;
  width: 90%;
  background-color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 35px;
}

nav.navbar {
  margin-bottom: 0px;
  width: 60%;
  margin: auto;
  padding: 8px;
}

.right {
  text-align: right;
}

.white {
  color: white;
}

.green {
  color: #29a385;
}

.pink {
  color: #ff33cc;
}

.nav-tabs {
  border-bottom: none;
}

.navbar {
  border-radius: 0px;
}

.navbar .nav > .active > a {
    background: none;
    border: none;
    color: white;
    border-bottom: 3px solid white;
}
