@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "elements/*";
/* HTML Classes */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

td {
  font-size: 20px;
}

td.food {
  width: 305px;
}

td.calories {
  width: 100px;
  text-align: right;
}

td.trash {
  padding-left: 15px;
}

h1 {
  text-align: center;
}

div.menu {
  float: right;
}

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.nav-tabs, .nav-pills {
  text-align: center;
}

// div.form {
//   position: absolute;
//   width: 100%;
//   left: 0;
//   text-align: center;
//   margin: auto;
// }

div.table {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.grey {
  color: grey;
}

// .submit-button {
//   border-radius: 5px;
//   background-color: #E8E8E8;
// }

.form-control.food {
  width: 300px;
  margin-left: 0px;
}

.form-control.calories {
  width: 100px;
}

.container {
  width: 60%;
  background-color: #29a385;
  padding: 50px;
}

.container-white {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px;
}

.white {
  color: white;
}
